
// // Bootstrap Variables
// $icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
//
// // Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/materialize-css/sass/materialize.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
  }

nav {
  height: 80px;
}
.navbar {
  background-color: white;
}
.brand-logo img {
    height: 55px;
    padding-top: 22px;
    padding-left: 30px;
}
ul .nav a{
  color: #4E7C98;
  font-size: 18px;
}
#nav-mobile{
  padding-right: 40px;
  line-height: 80px;
}

main {
  background-image: url('../images/woodgrain-farm.jpg');
  background-size: cover;
}
h2 {
  text-shadow: 1px 1px 4px black;
}
.sub-heading {
  font-size: 30px;
  color: #4E7C98;
  padding: 5px;
  background-color: rgba(255, 250, 250, .75);
}

.port-img {
  box-shadow: 4px 4px 4px #3B4355;
}
.reveal-title {
  color: #6E92A3;
}
.material-icons {
  color: #7295B4;
}
.reveal-text {
  color: grey;
}
.links a{
  color: #FFB040;
}

.email {
  color: #FFAB40;
}
#email-add {
  color: #0069A0;
}
.social-links{
  height: 40px;
  padding-left: 10px;
}
.page-footer {
  background-color: #6E92A3;
}
.copyright {
  color: white;
  padding-left: 20px;
}
